@model IEnumerable<LibraryInfrastructure.Models.Faculty>

@{
    ViewData["Title"] = "Факультети";
}

<h1>Список факультетів</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Помилка!</strong> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Успіх!</strong> @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p class="mb-3">
    <a asp-action="Create" class="btn btn-success">Створити новий</a>
    <a asp-action="Import" class="btn btn-primary">Завантажити з файлу</a>
    <a asp-action="Export" class="btn btn-primary">Експортувати у файл</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updatedat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
