@model IEnumerable<LibraryInfrastructure.Models.Position>

@{
    ViewData["Title"] = "Посада";
}

<h1>Посада</h1>

<div class="mb-4 mt-2">
    <a asp-action="Create" class="btn btn-success shadow-sm">
        <i class="fas fa-plus"></i> Створити нову
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updatedat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагування</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалення</a>
            </td>
        </tr>
}
    </tbody>
</table>
